In [136]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pygal
from IPython.display import SVG
from IPython.display import HTML
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

### Regional Map of vaccination

Data from :https://www.sortiraparis.com/actualites/a-paris/articles/239732-vaccination-en-france-ou-en-est-on-le-jeudi-10-juin-2021-nombre-de-vaccines-par-

In [137]:
data = {'Region': ['ile de france', 'provence alpes cote d azur', 'pays de la loire', 'bretagne','centre val de loire','reunion','corse'], 'cumulated': [0, 0, 0, 0,0,0,0]} 
df4 = pd.DataFrame(data)
df4.index = df4['Region']
df4 = df4.rename(index={'ile de france': '11', 'provence alpes cote d azur' : '93', 'pays de la loire':'52', 'bretagne':'53',
                       'centre val de loire': '24', 'reunion': '04', 'corse': '94'})
df4 = df4.cumulated
df4 = pd.DataFrame(df4)

##### Grand Est

In [138]:

x = 2424389 / 3 
x = int(x)
df_grandEST = pd.DataFrame({'cumulated': [x,x,x]}, index = ['21', '41', '42'])
df4 = df4.append(df_grandEST)

##### Auvergne Rhone Alpes

In [139]:
y = 3473537 / 2
y = int(y)
df_AUVRA = pd.DataFrame({'cumulated': [y,y]}, index = ['82', '83'])
df4 = df4.append(df_AUVRA)

In [140]:
df4

    cumulated
11          0
93          0
52          0
53          0
24          0
04          0
94          0
21     808129
41     808129
42     808129
82    1736768
83    1736768

##### Occitanie

In [141]:
z = 2559370 / 2
z = int(z)
df_OCCI = pd.DataFrame({'cumulated': [z,z]}, index = ['73', '91'])
df4 = df4.append(df_OCCI)

##### Nouvelle Acquitaine

In [142]:
w = 2791137 / 3
w = int(w)
df_nouvelleAC= pd.DataFrame({'cumulated': [w,w,w]}, index = ['54', '72','74'])
df4 = df4.append(df_nouvelleAC)

##### Normandie

In [143]:
v = 1543540 / 2
v = int(v)
df_normandie= pd.DataFrame({'cumulated': [v,v]}, index = ['23', '25'])
df4 = df4.append(df_normandie)

#### Hauts de France

In [144]:
a = 2631848 / 2
a = int(a)
df_hautsdefrance = pd.DataFrame({'cumulated': [a,a]}, index = ['22', '31'])
df4 = df4.append(df_hautsdefrance)

##### Bourgogne Franche Comt√©

In [145]:
b = 1213405 / 2
b = int(b)
df_bourgognefranche = pd.DataFrame({'cumulated': [b,b]}, index = ['26', '43'])
df4 = df4.append(df_bourgognefranche)

#### Finalising

In [146]:
df4.loc['11'] = 5038000
df4.loc['53'] = 1539241
df4.loc['94'] = 152946
df4.loc['52'] = 1679557
df4.loc['93']= 2134982
df4.loc['24']=1133263

In [148]:
df4 = df4.cumulated

In [149]:
df4

11    5038000
93    2134982
52    1679557
53    1539241
24    1133263
04          0
94     152946
21     808129
41     808129
42     808129
82    1736768
83    1736768
73    1279685
91    1279685
54     930379
72     930379
74     930379
23     771770
25     771770
22    1315924
31    1315924
26     606702
43     606702
Name: cumulated, dtype: int64

#### AUTRES

In [150]:
from pygal.maps.fr import aggregate_regions
from pygal.style import Style

  # Write the chart in the specified file
custom_style = Style(
  background='transparent',
  plot_background='transparent',
  foreground='#53E89B',
  foreground_strong='#53A0E8',
  foreground_subtle='#630C0D',
  opacity='500',
  opacity_hover='10',
  transition='400ms ease-in')


fr_chart = pygal.maps.fr.Regions(human_readable=True, height=300, style=custom_style)
fr_chart.title = 'Number of Vaccination'
fr_chart.add("Number of Vaccination", {'11': int(df4.loc['11']),'21': int(df4.loc['21']),'22': int(df4.loc['22']), '23': int(df4.loc['23']),'24': int(df4.loc['24']),'25': int(df4.loc['25']), '26': int(df4.loc['26']), 
             '43' : int(df4.loc['43']), '31' : int(df4.loc['31']), '74' : int(df4.loc['74']), '72': int(df4.loc['72']), '54': int(df4.loc['54']), '91' : int(df4.loc['91']),
             '73' : int(df4.loc['73']), '83': int(df4.loc['83']), '82': int(df4.loc['82']), '42' : int(df4.loc['42']), '41': int(df4.loc['41']), '94': int(df4.loc['94']),
             '53': int(df4.loc['53']), '52': int(df4.loc['52']), '93': int(df4.loc['93'])})
svg = fr_chart.render()
SVG(svg)
html_pygal = """
<!DOCTYPEg>
<html>
  <head>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    <!-- ... -->
  </head>
  <body>
    <figure>
      {0}
    </figure>
  </body>
</html>
"""
HTML(html_pygal.format(svg.decode("utf-8")))
  # Write the chart in the specified file
fr_chart.render_in_browser()

file:///var/folders/49/f_qw1kxs74s2tgccq74fb0y00000gn/T/tmpd47hfsml.html